// colors
$color-primary-1: #75d701;
$color-primary-2: #f8f8ff;
$color-primary-3: #56a902;
$color-primary-4: #3b4e32;

$color-red: #e53a40;

$color-black: #222;
$color-white: #fcfcfc;

// paddings and margins
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 15px;

$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 15px;
$margin-xlarge: 25px;

// fonts
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;

$font-weight-light: 200;
$font-weight-medium: 400;
$font-weight-bold: 600;

// media variables
$media-mobile: 1000px;
