@import "../../assets/scss/global-variables.scss";

.Insights {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  .trends {
    display: flex;
    flex-wrap: wrap;

    .trend {
      flex: 1 1 15%;
      max-width: 15%;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 10px;
      border: 1px solid $color-black;
      margin-right: $margin-medium;

      .categoryIcon {
        display: flex;
        align-items: center;
        flex: 0;
        margin-right: $margin-small;
        height: 100%;
        svg {
          font-size: 30px;
        }
      }

      .trendIcon {
        display: flex;
        flex: 0;
        align-items: center;
        height: 100%;
        margin-right: $margin-small;
        svg {
          font-size: 30px;
        }
        &__increase {
          color: $color-red;
        }

        &__decrease {
          color: $color-primary-3;
        }
      }

      .percentage {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        height: 100%;
        font-size: 30px;
        font-weight: 600;
        &__increase {
          color: $color-red;
        }

        &__decrease {
          color: $color-primary-3;
        }
      }
    }

    @media (max-width: $media-mobile) {
      .trend {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: $margin-medium;
      }
    }
  }
}
