@import "../../assets/scss/global-variables.scss";

$slider-height: 30px;
$slider-width: 50px;

.Slider {
  position: relative;
  padding: $padding-large;

  output {
    font-size: $font-size-large;
  }
}
